body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:14px;
}

#loader-div{
	display:none;
	margin-top:30px;
}

.tables-container {
    padding-top: 30px;
}
table ul{
    margin:0;
    padding-left:15px;
}